:root {
  --blue: #00142d;
  --green: #b6ea00;
  --white: #ffffff;
}
*,
::before,
::after {
  box-sizing: border-box;
  min-width: 0;
  border-width: 0;
  border-style: solid;
}
html {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  line-height: 1;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
}
main {
  display: block;
}
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dt {
  font-weight: 700;
}
dd {
  margin-left: 0;
}
hr {
  clear: both;
  box-sizing: content-box;
  height: 0;
  margin: 0;
  border-top-width: 1px;
  overflow: visible;
  color: inherit;
}
pre {
  font-size: inherit;
  font-family: monospace, monospace;
}
address {
  font-style: inherit;
}
a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}
abbr[title] {
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-size: inherit;
  font-family: monospace, monospace;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
  color: inherit;
  font: inherit;
  text-align: inherit;
  text-transform: inherit;
  vertical-align: middle;
  background: transparent;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}
button:disabled,
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled {
  cursor: default;
}
:-moz-focusring {
  outline: auto;
}
select:disabled {
  opacity: inherit;
}
option {
  padding: 0;
}
fieldset {
  min-width: 0;
  margin: 0;
  padding: 0;
}
legend {
  padding: 0;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
[type="number"] {
  -moz-appearance: textfield;
}
label[for] {
  cursor: pointer;
}
details {
  display: block;
}
summary {
  display: list-item;
}
[contenteditable]:focus {
  outline: auto;
}
table {
  border-color: inherit;
  border-collapse: collapse;
}
caption {
  text-align: left;
}
td,
th {
  padding: 0;
  vertical-align: top;
}
th {
  font-weight: 700;
  text-align: left;
}

.banner-container {
  width: 100%;
  max-width: 1250px;
  height: 200px;
  background: var(--blue);
  background-image: url("shape.svg");
  background-repeat: no-repeat;
  background-position: -80px 0;
  background-size: 349px;
}
.banner-wrapper {
  z-index: 100;
  width: 100%;
  height: 100%;
  padding-top: 20px;
}

.logo-h {
  display: block;
  width: auto;
  height: 16px;
  margin: 0 auto;
  margin-bottom: 20px;
}

p.header {
  margin-bottom: 4px;
  color: var(--white);
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}

p.subheader {
  margin-bottom: 16px;
  color: var(--white);
  font-weight: 600;
  font-size: 14px;
  text-align: center;
}
p.subheader strong {
  color: var(--green);
}
.countdown-wrapper {
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
}

p.count-d,
p.count-h,
p.count-m {
  padding: 16px 22px;
  border-radius: 8px;
  color: var(--blue);
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  background: var(--green);
}
p.foo {
  width: 280px;
  margin: 0 auto;
  color: var(--white);
  font-weight: 400;
  font-size: 6px;
  line-height: 125%;
  text-align: center;
}
.logo-v {
  display: none;
}

@media (min-width: 1248px) {
  .banner-container {
    background-position: 0 0;
    background-size: 1250px;
  }
  .banner-wrapper {
    padding-top: 0;
  }
  .logo-h {
    display: none;
  }
  .logo-v {
    display: block;
    position: relative;
    top: 32px;
    left: 32px;
    height: 136px;
  }
  p.header {
    position: absolute;
    top: 38px;
    left: 84px;
    margin-bottom: 0;
    color: var(--white);
    font-weight: 600;
    font-size: 38px;
    text-align: center;
  }

  p.subheader {
    position: absolute;
    top: 80px;
    left: 84px;
    margin-bottom: 0;
    color: var(--white);
    font-weight: 600;
    font-size: 34px;
    text-align: center;
  }
  p.subheader strong {
    color: var(--green);
  }
  .countdown-wrapper {
    gap: 8px;
    display: flex;
    position: absolute;
    top: 53px;
    left: 720px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }

  p.count-d,
  p.count-h,
  p.count-m {
    height: 94px;
    padding: 0 32px;
    border-radius: 12px;
    color: var(--blue);
    font-weight: 700;
    font-size: 46px;
    line-height: 215%;
    text-align: center;
    background: var(--green);
  }
  p.foo {
    position: absolute;
    top: 140px;
    left: 84px;
    width: 544px;
    margin: 0 auto;
    color: var(--white);
    font-weight: 400;
    font-size: 10px;
    line-height: 125%;
    text-align: left;
  }
}
