<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>

    <div class="wrapper">
        <!--Intro - Clickable Header Images-->
        <div class="intro-banner">
            <a external-event="promoCodeTerm" 
               external-event-term-Id="TMCNFJ4O3A8C"
               external-event-offer-Id="OFWLMR2DRUD4" 
               external-event-promo-Code="MUSTREEDE2025"
               class="intro-banner-link">
                <img src="https://b.ohtuleht.ee/html5/Ohtuleht/Piano/2025/Nov/OlPikimReede-header_desktop.jpg" 
                     alt="Pikim Reede pakkumine" 
                     class="intro-banner-img intro-banner-desktop" />
                <img src="https://b.ohtuleht.ee/html5/Ohtuleht/Piano/2025/Nov/OlPikimReede-header_mobile.jpg" 
                     alt="Pikim Reede pakkumine" 
                     class="intro-banner-img intro-banner-mobile" />
            </a>
        </div>

        <!--Cards-->
        <div class="content __red">
            <div class="switch-wrapper" id="switch-wrapper">
               
                <a class="switch hidden">äriklient</a>
            </div>
            <div class="cards">
                <!--Card 1-->
                <div class="card __yellow">

                    <div class="best">
                        <p class="best-x">Musta reede pakkumine</p>
                    </div>
                    <img src="https://b.ohtuleht.ee/html5/Ohtuleht/Piano/logo-ok_w.svg" alt="" class="card-logo" />
                    <p class="card-name">aastane digipakett</p>
                    <div class="price-wrapper">
                        <img src="https://b.ohtuleht.ee/html5/Ohtuleht/Piano/price-6.svg" alt="" class="__oop __1" />
                        <p class="price">25,18 €</p>
                        <p class="term">1 aasta</p>
                    </div>
                    <div class="list-wrapper">
                        <ul class="points">
                            <li>ligipääs kogu sisule</li>
                            <li>ÕL TV ja Raadio</li>
                            <li>põnevad digiristsõnad</li>
                            <li>retseptiveeb</li>
                            <li>lugemisõigus kuni 4 sõbrale</li>
                        </ul>
                    </div>
                    <button external-event="promoCodeTerm" external-event-term-Id="TMCNFJ4O3A8C"
                        external-event-offer-Id="OFWLMR2DRUD4" external-event-promo-Code="MUSTREEDE2025" class="cta __red">Telli</button>
                    <div class="info">Musta reede pakkumine kehtib uutele eraisikutest tellijatele. Esimene aasta maksab ainult 25,18 €. Järgnevad aastad maksavad 50% tavahinnast ehk 62,94 € aastas. Soodushinnaga tellimus pikeneb automaatselt tühistamiseni.
                                      </div>
                </div>
                <!--Card 2-->
 <div class="card __red">
          <div class="best">
            <p class="best-p">tellijate lemmik</p>
          </div>
          <img class="card-logo" src="https://b.ohtuleht.ee/html5/Ohtuleht/Piano/logo-ok_w.svg" alt />
          <p class="card-name">digipaketi püsitellimus</p>
          <div class="price-wrapper">
            <img class="__oop __2" src="https://b.ohtuleht.ee/html5/Ohtuleht/Piano/svg/2on2.svg" alt />
            <p class="price" style="font-size: 4rem">2 €</p>
            <p class="term">2 kuud</p>
          </div>
          <div class="list-wrapper">
            <ul class="points">
              <li>ligipääs kogu sisule</li>
              <li>ÕL TV ja Raadio</li>
              <li>põnevad digiristsõnad</li>
              <li>retseptiveeb</li>
              <li>lugemisõigus kuni 4 sõbrale</li>
            </ul>
          </div>
          <button class="cta __yellow" external-event="promoCodeTerm" external-event-term-id="TMEMQ334K3LI" external-event-offer-id="OFWLMR2DRUD4" external-event-promo-code="0IUU3ILJSF">Telli</button>
          <div class="info">Esimesed 2 kuud maksavad 2 €, 3.-4. kuu 5,25 € kuus, 5. kuust 10,49 € kuus. Püsimaksega tellimus pikeneb automaatselt tühistamiseni. Pakkumine kehtib uutele eraisikutest lugejatele, kellel ei ole hetkel kehtivat digitellimust.</div>
        </div>
                <!--Card 3-->
                <div class="card">

                    <img src="https://b.ohtuleht.ee/html5/Ohtuleht/Piano/logo-ok.svg" alt="" class="card-logo" />
                    <p class="card-name">reklaamivaba pakett</p>
                    <div class="price-wrapper">
                        <p class="price">1,99 €</p>
                        <p class="term">esimene kuu</p>
                    </div>
                    <div class="list-wrapper">
                        <ul class="points">
                            <li>mitte ühtegi reklaami</li>
                          	<li>ligipääs kogu sisule</li>
                            <li>ÕL TV ja Raadio</li>                          
                            <li>retseptiveeb ja digiristsõnad</li>
                            <li>lugemisõigus kuni 4 sõbrale</li>
                        </ul>
                    </div>
                    <button ng-click="startCheckout('TM2I3TTM625V')" class="cta __red">Telli</button>
                    <div class="info">
                        Esimene kuu maksab 1,99 € /kuus, alates 2. kuust 12,99 € /kuus. Püsimaksega tellimus
                        pikeneb automaatselt tühistamiseni. 
                    </div>
                </div>
                <!--Card 1 Äri-->
                <div class="card business" hidden>
                    <img src="https://b.ohtuleht.ee/html5/Ohtuleht/Piano/logo-ok.svg" alt="" class="card-logo" />
                    <p class="card-name">äripaketi aastane tellimus</p>
                    <div class="price-wrapper">
                        <p class="price">341,90 € <span>+ KM</span></p>
                        <p class="term">/1 aasta</p>
                    </div>
                    <div class="list-wrapper">
                        <ul class="points">
                            <li>On mõeldud juriidilisele isikule</li>
                            <li>ligipääs kogu sisule</li>
                            <li>ÕL TV</li>
                            <li>ÕL Raadio</li>
                            <li>lugemisõigus 20 kasutajal</li>
                        </ul>
                    </div>
                    <button ng-click="startCheckout('TM4NMFSHPO50')" class="cta __red">Telli</button>
                    <div class="info">Tasudes aasta kaupa on<br>1 kuu hind 28,49 € + KM</div>
                </div>
                <!--Card 2 Äri-->
                <div class="card business" hidden>
                    <img src="https://b.ohtuleht.ee/html5/Ohtuleht/Piano/logo-ok.svg" alt="" class="card-logo" />
                    <p class="card-name">äripaketi püsitellimus</p>
                    <div class="price-wrapper">
                        <p class="price">28,56 €<span>+ KM</span></p>
                        <p class="term">/1 kuu</p>
                    </div>
                    <div class="list-wrapper">
                        <ul class="points">
                            <li>On mõeldud juriidilisele isikule</li>
                            <li>Ligipääs kogu sisule</li>
                            <li>ÕL TV</li>
                            <li>ÕL Raadio</li>
                            <li>Lugemisõigus 20 kasutajal</li>
                        </ul>
                    </div>
                    <button ng-click="startCheckout('TM3D0PFTFKZT')" class="cta __red">Telli</button>
                    <div class="info">Iga kuu 28,56 € + KM. Püsimaksega tellimus pikeneb automaatselt tühistamiseni.
                    </div>
                </div>
            </div>
            <a href="https://www.ohtuleht.ee/ariklient" target="_blank" class="cta __red __fixed __cta-desk">Ärikliendi
                digipaketi info leiad siit</a>
            <a href="https://www.ohtuleht.ee/ariklient" target="_blank" class="cta __red __fixed __cta-mob">Ärikliendi
                digipakett</a>
        </div>
        <!--KKK-->
        <div class="kkk">
            <div class="kkk-col">
                <h4>Korduma kippuvad küsimused</h4>
                <h5>Mis on püsitellimus?</h5>
                <p>
                    Püsitellimus on automaatselt pikenev tellimus mobiili või kaardiga tasudes. Püsitellimus pikeneb
                    automaatselt 
                    ja tasu võetakse üldjuhul üks kord kuus. Tellimus kehtib kuni selle lõpetad. 
                </p>
                <p>
                    Digipaketi püsitellimuse korral võimaldatakse Sulle üldjuhul avakuul proovida teenust
                    soodushinnaga.
                    Püsimaksega digitellimuse automaatset pikenemist saad tühistada kolm tööpäeva enne järgmist
                    maksepäeva.
                    Tellimuse automaatse pikenemise katkestamise korral saad väljaannet lugeda kuni ettemakse perioodi
                    lõpuni.
                    Tellimuse saad lõpetada oma <a href="https://www.ohtuleht.ee/minu-konto?tab=tellimused"
                        target="_blank">Õhtulehe kontol</a> tellimuste alt.
                </p>
                <br />
            </div>
            <div class="kkk-col">
                <h5>
                    Kui olen tellimuse vormistanud, siis millal saan artikleid lugema
                    hakata?
                </h5>
                <p>Ligipääsu digipaketile saad kohe pärast makse sooritamist.</p>
                <br />
                <h5>Kuidas vahetada lugemisõiguse e-maili?</h5>
                <p>
                    Digipaketi lugemisõiguse e-maili saad muuta oma <a href="https://www.ohtuleht.ee/minu-konto"
                        target="_blank">Õhtulehe konto</a> profiilil.
                </p>
                <br />
                <h5>Kuidas jagada digipaketi lugemisõigusi?</h5>
                <p>
                    Digipaketi lugemisõigusi saad jagada oma <a
                        href="https://www.ohtuleht.ee/minu-konto?tab=tellimused" target="_blank">Õhtulehe kontol</a> tellimuste alt. Kui oled
                    sisse logitud, lisa soovitud e-posti aadressid.
                </p>
            </div>
        </div>
        <h3 class="business-info">Õhtuleht Kirjastuse paberväljaandeid saad tellida meie <a
                href="https://pood.ohtuleht.ee/" target="_blank">e-poest</a></h3>
    </body>
</html>