@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500;700&family=Roboto:wght@400;500&display=swap");

*:where( :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Fira Sans", sans-serif;
    line-height: 135%;
}

a,
button {
    cursor: revert;
}

ol,
ul,
menu {
    list-style: none;
}

img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

table {
    border-collapse: collapse;
}

input,
textarea {
    -webkit-user-select: auto;
}

textarea {
    white-space: revert;
}

meter {
    -webkit-appearance: revert;
    -moz-appearance: revert;
    appearance: revert;
}

:where(pre) {
    all: revert;
}

::-webkit-input-placeholder {
    color: unset;
}

::-moz-placeholder {
    color: unset;
}

:-ms-input-placeholder {
    color: unset;
}

::-ms-input-placeholder {
    color: unset;
}

::placeholder {
    color: unset;
}

::marker {
    content: initial;
}

:where([hidden]),
.hidden {
    display: none !important;
    visibility: hidden !important;
}

:where([contenteditable]:not([contenteditable="false"])) {
    -webkit-line-break: after-white-space;
    overflow-wrap: break-word;
    -webkit-user-select: auto;
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
}

:where([draggable="true"]) {
    -webkit-user-drag: element;
}

:where(dialog:modal) {
    all: revert;
}

:root {
    /* Colors */
    --red-100: #fff2f3;
    --red-500: #e3000f;
    --red-600: #c0000d;
    --yellow-600: #f7bd1e;
    --yellow-500: #ffce1f;
    --yellow-400: #ffdd66;
    --gray-100: #f3f3f3;
    --gray-200: #e0e0e0;
    --gray-700: #7d7d7d;
    --gray-800: #3e3e43;
    --gray-900: #272727;
    --green-500: #43c08b;
  	--black: #000000;
}

/* Base styles */
.wrapper {
    width: 100%;
    max-width: 1280px;
    height: auto;
    margin: 1rem auto;
    padding: 0 1rem;
}

/* Intro Banner */

.intro-banner {
  width: 100%;
  max-width: 980px;
  margin: 1rem auto;
}

.intro-banner-link {
  display: block;
  cursor: pointer;
}

.intro-banner-img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 16px;
}

.intro-banner-desktop {
  display: none;
}

.intro-banner-mobile {
  display: block;
}

h1,
h2,
h3 {
  text-align: left;
}

p {
  margin: 0 0;
}

.business-info {
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

.business-info a {
    font-weight: 500;
    text-decoration: underline;
    color: var(--red-500);
}

/* Cards */

.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
    padding: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    gap: 1rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
}


.content.__red {
    border-radius: 0.75rem;
    background: var(--red-100);
}
.content.__yellow {
    border-radius: 0.75rem;
    background: var(--yellow-500);
}
.content.__nobottom {
    padding: 0 !important;
    margin: 0 !important;
}

.best {
    position: relative;
    bottom: 1rem;
    width: calc(100% + 3rem);
    margin-bottom: 0rem;
    padding: 0.5rem 0;
    border-radius: 0.25rem;
    background: #fff;
}

.best-p {
    margin: 0;
    color: var(--red-500);
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}
.best-x {
    margin: 0;
    color: var(--gray-900);
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}
.switch-wrapper {
    margin: 0.25rem 0;
}

.switch {
    margin: 0 1rem;
    color: var(--gray-800);
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}

.switch.__active,
.switch:active,
.switch:focus,
.switch.__active:hover {
    border-bottom: 0.25rem solid var(--red-500);
    color: var(--gray-800);
}

.switch:hover {
    border-bottom: 0.25rem solid rgba(227, 0, 15, 0.25);
    color: var(--gray-800);
}

.cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    gap: 1rem;
}

.card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    position: relative;
}

.card:nth-child(1) {
    order: 3;
}

.card:nth-child(2) {
    order: 1;
}

.card:nth-child(3) {
    order: 2;
}

.card.__red {
    background: var(--red-500);
}
.card.__yellow {
    background: var(--black);
}
.card.__black {
    background: var(--black);
}
.card-logo {
    height: 1.75rem;
    margin-bottom: 0.25rem;
}

.card-name {
    color: var(--gray-800);
    font-family: "Roboto", sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    text-align: center;
}

.card-name .__vanahind {
    font-weight: 400;
    color: var(--gray-700);
}

.card.__red .card-name {
    color: #fff;
}

.card.__yellow .card-name {
    color: #fff;
}

.price-wrapper {
    position: relative;
    margin: 0;
}

.price {
    position: relative;
    color: var(--red-500);
    font-family: "Fira Sans", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    line-height: 135%;
    margin: 0;
}

.price span {
    position: relative;
    position: absolute;
    bottom: -0.5rem;
    left: 0rem;
    font-size: 0.35em;
    font-weight: 500;
}

.card.__red .price {
    color: #fff;
}
.card.__yellow .price {
    color: var(--yellow-500);
}
.term {
    position: absolute;
    right: 0.1rem;
    bottom: -0.5rem;
    color: var(--gray-800);
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

.card.__red .term {
    color: #fff;
}

.card.__yellow .term {
    color: #fff;
}

.list-wrapper {
    width: 100%;
    margin: 1rem 0;
}

.points li {
    width: 75%;
    margin-bottom: 0.5rem;
    margin-left: 2rem;
    color: var(--gray-800);
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
}

.card.__red .points li {
    color: #fff;
}

.card.__yellow .points li {
    color: #fff;
}

.points li::before {
    display: block;
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: -2rem;
    float: left;
    background: url("https://b.ohtuleht.ee/html5/Ohtuleht/Piano/checkbox-red.svg");
    content: "";
}

.card.__red .points li::before {
    background: url("https://b.ohtuleht.ee/html5/Ohtuleht/Piano/checkbox-yellow.svg");
}

.card.__yellow .points li::before {
    background: url("https://b.ohtuleht.ee/html5/Ohtuleht/Piano/checkbox-yellow.svg");
}

.cta {
    position: relative;
    width: 100%;
    height: 3rem;
    border-radius: 0.25rem;
    color: var(--gray-800);
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 300%;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.cta.__fixed {
    width: auto;
    padding: 0 2rem;
    font-weight: 500;
}

.cta:active {
    top: 2px;
}

.cta.__red {
    background: var(--red-500);
    color: #fff;
}

.cta.__red:hover {
    background: var(--red-600);
}

.cta.__yellow {
    background: var(--yellow-500);
    color: var(--gray-900);
}

.cta.__yellow:hover {
    background: var(--yellow-600);
}

.info {
    margin-top: 0.5rem;
    color: var(--gray-800);
    font-family: "Roboto", sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 135%;
    text-align: center;
}

.card.__red .info {
    color: #fff;
}

.card.__yellow .info {
    color: #fff;
}

/* KKK */

.kkk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 980px;
    margin: 1rem auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
    -ms-flex-align: center;
    gap: 1rem;
}

h4 {
    margin-bottom: 0.75rem;
    color: var(--red-500);
    font-family: "Fira Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 135%;
}

h5 {
    margin-bottom: 0.5rem;
    color: var(--gray-900);
    font-family: "Fira Sans", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 135%;
}

.kkk p {
    margin-bottom: 0.375rem;
    color: var(--gray-800);
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 135%;
}

.kkk p a {
    color: var(--red-500);
    font-weight: 500;
    text-decoration: underline;
}

.kkk p:last-of-type {
    margin-bottom: 0;
}

.__cta-desk {
    display: none;
}

.__oop {
    position: absolute;
    display: block;
    width: 48px;
    height: auto;
    z-index: 1000;
    transform: rotate(5deg);
}

.__oop.__1 {
    top: .45rem;
    right: -3.5rem;
}

.__oop.__2 {
    top: 1.125rem;
    right: -3.5rem;
}

@media only screen and (min-width: 980px) {
    .__cta-desk {
        display: initial;
    }

    .__cta-mob {
        display: none;
    }

    .wrapper {
        padding: 0;
    }

    /* Intro Banner */

    .intro-banner-desktop {
        display: block;
    }

    .intro-banner-mobile {
        display: none;
    }

    h1,
    h2,
    h3 {
        text-align: left;
    }

    .content {
        margin: 2rem 0;
    }

    /* Cards */
    .cards {
        -ms-flex-direction: row;
        flex-direction: row;
        justify-content: space-between;
        max-width: 980px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    }

    .card {
        justify-content: flex-start;
        width: 306px;
        height: 576px;
        padding: 3rem 2rem;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
    }

    .card:nth-child(1) {
        order: 13;
    }

    .card:nth-child(2) {
        order: 2;
    }

    .card:nth-child(3) {
        order: 1;
    }

    .best {
        bottom: 2.5rem;
        margin-bottom: -1.5rem;
        padding: 0.5rem 0;
    }

    .card:nth-child(1),
    .card:nth-child(3) {
        margin-top: 2rem;
    }

    .card.__red {
        height: 640px;
    }

    .list-wrapper {
        margin: 1rem 0;
    }

    /* KKK */
    .kkk {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        align-items: flex-start;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-box-align: start;
        -ms-flex-align: start;
    }

    .kkk-col {
        width: 50%;
    }

    h4 {
        margin-bottom: 0.75rem;
        font-size: 2rem;
    }

    h5 {
        margin-bottom: 0.5rem;
        font-size: 1.25rem;
    }

    .kkk p {
        margin-bottom: 0.375rem;
        font-size: 1rem;
    }

    .h2-sm {
        font-size: 1.125rem !important;
    }

    .h2-xsm {
    color: var(--gray-800) !important;
    font-family: "Roboto", sans-serif !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 135% !important;
    }
}