@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@600&family=Inter:opsz,wght@14..32,100..900&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  outline: none;
  font-size: 1em;
  line-height: 100%;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}
code,
kbd,
samp,
pre,
tt,
var,
textarea,
input,
select,
isindex,
listing,
xmp,
plaintext {
  font: inherit;
  font-size: 1em;
  white-space: normal;
}
dfn,
i,
cite,
var,
address,
em {
  font-style: normal;
}
th,
b,
strong,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
a,
img,
a img,
iframe,
form,
fieldset,
abbr,
acronym,
object,
applet,
table {
  border: none;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
caption,
th,
td,
center {
  text-align: left;
  vertical-align: top;
}
body {
  color: black;
  line-height: 1;
  background: white;
}
q {
  quotes: "" "";
}
ul,
ol,
dir,
menu {
  list-style: none;
}
sub,
sup {
  vertical-align: baseline;
}
a {
  color: inherit;
}
hr {
  display: none;
}
font {
  color: inherit !important;
  font: inherit !important;
}
marquee {
  -moz-binding: none;
  overflow: inherit !important;
}
blink {
  text-decoration: none;
}
nobr {
  white-space: normal;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  padding: 32px;
  width: 100vw;
  height: 100vh;
  background: #ffffff;
}
.banner-wrapper {
  width: 540px;
  height: 960px;
  overflow: hidden;
  position: relative;
  padding-bottom: 96px; /* space reserved for button */
}
.banner.scaled {
  transform: scale(0.5);
  transform-origin: top left;
}
.banner {
  position: relative;
  bottom: 512px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 1080px;
  height: 1920px;
  padding-bottom: 380px;
  background: transparent; /* ensure exported banner background is transparent */
}

.container {
  width: 652px;
  height: auto;
  border-radius: 24px;
  overflow: hidden;
  position: relative;
  background: transparent;
}

/* Removed checkerboard overlay */

.top,
.center,
.bottom {
  position: relative;
}

/* Controls panel */
.controls {
  display: none; /* deprecated */
}

.controls textarea {
  display: none;
}

.controls button {
  display: none;
}

/* removed .controls button:hover */

.inline-controls {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

.inline-controls button {
  padding: 16px 24px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 12px;
  background: #e3000f;
  color: #fff;
  cursor: pointer;
}

.inline-controls button:hover {
  background: #b8000c;
}

/* New download button inside banner wrapper */
.download-btn {
  position: absolute;
  left: 50%;
  bottom: 448px; /* more space from banner */
  transform: translateX(-50%);
  padding: 16px 28px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 14px;
  background: #e3000f;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
}

.download-btn:hover {
  background: #b8000c;
}

.center p[contenteditable="true"]:focus {
  outline: 2px solid #e3000f;
  outline-offset: 4px;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 72px;
  background: #e3000f;
}

.logo {
  width: auto;
  height: 36px;
}

.center {
  padding: 32px;
  background: #fff; /* always white */
}

/* removed .center.no-bg */

.center p {
  color: #000;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: normal;
  font-family: "Fira Sans Condensed", sans-serif;
  text-align: center;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  background: #e3000f;
}

.bottom p {
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: normal;
  font-family: "Inter", sans-serif;
  text-align: center;
}

.bottom p strong {
  color: #fcd700;
  font-weight: 600;
}
