*,
::before,
::after {
  box-sizing: border-box;
  min-width: 0;
  border-width: 0;
  border-style: solid;
}
html {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
}
body {
  margin: 0;
}
main {
  display: block;
}
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dt {
  font-weight: 700;
}
dd {
  margin-left: 0;
}
hr {
  clear: both;
  box-sizing: content-box;
  height: 0;
  margin: 0;
  border-top-width: 1px;
  overflow: visible;
  color: inherit;
}
pre {
  font-size: inherit;
  font-family: monospace, monospace;
}
address {
  font-style: inherit;
}
a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}
abbr[title] {
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-size: inherit;
  font-family: monospace, monospace;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
  color: inherit;
  font: inherit;
  text-align: inherit;
  text-transform: inherit;
  vertical-align: middle;
  background: transparent;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}
button:disabled,
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled {
  cursor: default;
}
:-moz-focusring {
  outline: auto;
}
select:disabled {
  opacity: inherit;
}
option {
  padding: 0;
}
fieldset {
  min-width: 0;
  margin: 0;
  padding: 0;
}
legend {
  padding: 0;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
[type="number"] {
  -moz-appearance: textfield;
}
label[for] {
  cursor: pointer;
}
details {
  display: block;
}
summary {
  display: list-item;
}
[contenteditable]:focus {
  outline: auto;
}
table {
  border-color: inherit;
  border-collapse: collapse;
}
caption {
  text-align: left;
}
td,
th {
  padding: 0;
  vertical-align: top;
}
th {
  font-weight: 700;
  text-align: left;
}

.banner-container {
  width: 1250px;
  height: 400px;
}

.banner-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.header {
  display: flex;
  z-index: 100;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 0 42px;
}
.content {
  gap: 16px;
  display: flex;
  z-index: 100;
  flex-direction: row;
  width: 100%;
  height: auto;
  padding: 0 42px;
}
.retsept {
  position: relative;
  top: 0;
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: all 0.125s ease-in-out;
}
.retsept:hover {
  top: -4px;
}
.img-wrapper {
  width: auto;
  height: 200px;
  border-radius: 80px 20px;
  overflow: hidden;
}
.img {
  object-fit: cover;

  display: block;
  width: 100%;
}
.info {
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 105%; /* 29.4px */
  font-family: "Bebas Neue";
  text-align: center;
  text-shadow: 0 2px 4px rgba(0, 128, 128, 0.75);
}
.shape {
  z-index: 10;
  position: absolute;
  bottom: 8px;
  left: 8px;
  width: 1234px;
  height: 184px;
  border-radius: 64px 16px;
  background: #009a9a;
}
