*,
::before,
::after {
  box-sizing: border-box;
  min-width: 0;
  border-width: 0;
  border-style: solid;
}
html {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
}
body {
  margin: 0;
}
main {
  display: block;
}
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dt {
  font-weight: 700;
}
dd {
  margin-left: 0;
}
hr {
  clear: both;
  box-sizing: content-box;
  height: 0;
  margin: 0;
  border-top-width: 1px;
  overflow: visible;
  color: inherit;
}
pre {
  font-size: inherit;
  font-family: monospace, monospace;
}
address {
  font-style: inherit;
}
a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}
abbr[title] {
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-size: inherit;
  font-family: monospace, monospace;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
  color: inherit;
  font: inherit;
  text-align: inherit;
  text-transform: inherit;
  vertical-align: middle;
  background: transparent;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}
button:disabled,
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled {
  cursor: default;
}
:-moz-focusring {
  outline: auto;
}
select:disabled {
  opacity: inherit;
}
option {
  padding: 0;
}
fieldset {
  min-width: 0;
  margin: 0;
  padding: 0;
}
legend {
  padding: 0;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
[type="number"] {
  -moz-appearance: textfield;
}
label[for] {
  cursor: pointer;
}
details {
  display: block;
}
summary {
  display: list-item;
}
[contenteditable]:focus {
  outline: auto;
}
table {
  border-color: inherit;
  border-collapse: collapse;
}
caption {
  text-align: left;
}
td,
th {
  padding: 0;
  vertical-align: top;
}
th {
  font-weight: 700;
  text-align: left;
}

.banner-container {
  width: 100vw;
  height: 83.3333vw;
}

.banner-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.header {
  display: flex;
  z-index: 100;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 13.3333vw;
  padding: 0 2.6667vw;
}
.logo {
  width: auto;
  height: 8vw;
}
.text {
  width: auto;
  height: 7vw;
}
.content {
  gap: 2.6667vw;
  display: flex;
  z-index: 100;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0 7vw;
  z-index: 200;
}
.retsept {
  gap: 2.6667vw;
  display: flex;
  z-index: 100;
  position: relative;
  top: 0;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  cursor: pointer;
}

.img-wrapper {
  width: auto;
  height: 46.6667vw;
  border-radius: 13.3333vw 3.3333vw;
  overflow: hidden;
}
.img {
  object-fit: cover;

  display: block;
  width: 100%;
}
.info {
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 7vw;
  line-height: 105%; /* 29.4px */
  font-family: "Bebas Neue";
  text-align: center;
  text-shadow: 0 0.3333vw 0.6667vw rgba(0, 128, 128, 0.75);
}
.shape {
  z-index: 10;
  position: absolute;
  bottom: 2.6667vw;
  left: 2.6667vw;
  width: 94.6667vw;
  height: 50.6667vw;
  border-radius: 10.6667vw 2.6667vw;
  background: #009a9a;
}
.arrow {
  z-index: 300;
  position: absolute;
  cursor: pointer;
  width: 12.3333vw;
}
.arrow.left {
  top: 41.6667vw;
  left: 2.6667vw;
}

.arrow.right {
  top: 41.6667vw;
  right: 2.6667vw;
}

/* Swiper container styling */
.swiper {
  width: 70vw;
  z-index: 200;
}

/* Swiper wrapper - contains all slides */
.swiper-wrapper {
  display: flex;
  align-items: stretch;
  height: 100%;
}

/* Individual slide container */
.swiper-slide {
  display: flex;
  flex-shrink: 0;
  align-items: stretch;
  width: 100%;
  height: 100%;
}
